* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #3737a2, #0066cc);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 250px) {
  .cenario {
    width: 100%;
  }

  .nuvem_01 {
    position: absolute;
    top: 15%;
    left: 1%;
    animation: moveClouds 8s linear infinite;
  }

  .nuvem_02 {
    position: absolute;
    top: 5%;
    left: 60%;
    animation: moveClouds 5s linear infinite;
  }

  .nuvem_03 {
    position: absolute;
    top: 5%;
    right: 2%;
    animation: moveClouds 12s linear infinite;
  }

  .balao {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 2;
  }

  .fogo {
    position: absolute;
    top: 0;
    left: 34%;
    z-index: 1;
  }

  .ferro_balao {
    position: absolute;
    top: 54%;
    left: 31.1%;
    z-index: 0;
  }

  .avatar {
    position: absolute;
    bottom: 0;
    left: 12%;
    z-index: 2;
  }

  .lucas {
    position: absolute;
    bottom: 0;
    right: 25%;
    transform: scale(1);
    z-index: 2;
  }

  .balao_fala {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
  }

  .botao_continuar {
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: 0.3s;
    z-index: 2;
  }

  .botao_voltar {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transition: 0.3s;
    z-index: 2;
  }

  .botao_continuar:hover,
  .botao_voltar:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
  }
}

@media (min-width: 320px) {
  .cenario {
    width: 100%;
  }
}

@media (min-width: 468px) {
  .cenario {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cenario {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .cenario {
    width: 100%;
  }
}

@keyframes moveClouds {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}
