* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0099FF;
  overflow: hidden;
}

.container {
  background-image: url('./assets/cenario.png'); 
  background-size: cover; 
  background-position: center; 
  width: 100vw;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  padding-top: 56.25%; 
}

.container .content {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mensagem {
  position: absolute; /* Mude para posição absoluta */
  width: 25%; /* Ajusta a largura para ocupar todo o contêiner */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 5%;
  top: 10%;
  animation: slideInFromLeft 1s ease-in-out;
}

.botao_voltar {
  position: absolute; /* Mude para posição absoluta */
  width: 10%; /* Ajusta a largura para ocupar todo o contêiner */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 5%;
  bottom: 10%;
  cursor: pointer;
  transition: 0.3s;
}

.botao_voltar:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.avatar {
  position: absolute; /* Mude para posição absoluta */
  height: 55%;
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 46%;
  top: 20%;
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
}

.contorno_avatar{
  position: absolute; /* Mude para posição absoluta */
  height: 57%;
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 45.5%;
  top: 19%;
  transition: 0.3s;
  z-index: 1;
}

.botao_avancar_troca {
  position: absolute; /* Mude para posição absoluta */
  width: 10%; /* Ajusta a largura para ocupar todo o contêiner */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  right: 5%;
  top: 35%;
  transition: 0.3s;
}

.botao_voltar_troca {
  position: absolute; /* Mude para posição absoluta */
  width: 10%; /* Ajusta a largura para ocupar todo o contêiner */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 5%;
  top: 35%;
  padding: 1%;
  transition: 0.3s;
}

.botao_voltar_troca:hover, .botao_avancar_troca:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

