* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3eb1ff, #ffffff);
  overflow: hidden;
}

.container {
  background-image: url("./assets/cenario.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nuvem_01 {
  position: absolute;
  width: 10%;
  object-fit: contain;
  left: 5%;
  top: 15%;
  animation: moveClouds 6.5s infinite;
}

.nuvem_02 {
  position: absolute;
  width: 10%;
  object-fit: contain;
  left: 40%;
  top: 10%;
  animation: moveClouds 8.5s infinite;
  transition: 0.3s;
}

.nuvem_03 {
  position: absolute;
  width: 20%;
  object-fit: contain;
  left: 75%;
  top: 10%;
  animation: moveClouds 7.5s infinite;
}

.balao {
  position: absolute;
  width: 8%;
  object-fit: contain;
  left: 15%;
  top: 10%;
  animation: moveBalloon 30s linear infinite;
}

.lucas {
  position: absolute;
  width: 30%;
  object-fit: contain;
  right: 15%;
  bottom: 0;
}

.botao_continuar {
  position: absolute;
  width: 10%;
  object-fit: contain;
  right: 5%;
  bottom: 10%;
}

.botao_voltar {
  position: absolute;
  width: 10%;
  object-fit: contain;
  left: 5%;
  bottom: 10%;
}

.botao_continuar:hover,
.botao_voltar:hover {
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
}

.balao_fala {
  position: relative;
  width: 40%;
  object-fit: contain;
  left: 15%;
  top: 35%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottomStart {
  0% {
    transform: translateY(2000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveClouds {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes moveBalloon {
  0% {
    transform: translateY(-20px) translateX(-10vw);
  }
  5% {
    transform: translateY(-10px) translateX(-4vw);
  }
  10% {
    transform: translateY(0) translateX(2vw);
  }
  15% {
    transform: translateY(-10px) translateX(8vw);
  }
  20% {
    transform: translateY(-20px) translateX(14vw);
  }
  25% {
    transform: translateY(-30px) translateX(20vw);
  }
  30% {
    transform: translateY(-20px) translateX(26vw);
  }
  35% {
    transform: translateY(-10px) translateX(32vw);
  }
  40% {
    transform: translateY(0) translateX(38vw);
  }
  45% {
    transform: translateY(-10px) translateX(44vw);
  }
  50% {
    transform: translateY(-20px) translateX(50vw);
  }
  55% {
    transform: translateY(-30px) translateX(56vw);
  }
  60% {
    transform: translateY(-20px) translateX(62vw);
  }
  65% {
    transform: translateY(-10px) translateX(68vw);
  }
  70% {
    transform: translateY(0) translateX(74vw);
  }
  75% {
    transform: translateY(-10px) translateX(80vw);
  }
  80% {
    transform: translateY(-20px) translateX(86vw);
  }
  85% {
    transform: translateY(-30px) translateX(92vw);
  }
  90% {
    transform: translateY(-20px) translateX(98vw);
  }
  95% {
    transform: translateY(-10px) translateX(104vw);
  }
  100% {
    transform: translateY(0) translateX(110vw);
  }
}
