* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #6EBFAD; /*#6EBFAD;*/
  overflow: hidden;
}

.container {
  background-image: url('./assets/mapa_mundi/mapa_mundi.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; /* Evita repetição do plano de fundo */
  width: 100vw;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  padding-top: 56.25%; 
}

.container .content {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.luneta {
  position: absolute;
  width: 8%;
  object-fit: contain; 
  right: 42%;
  bottom: 8%;
  transition: 0.3s;
  z-index: 2;
}

.luneta_brilho {
  position: absolute;
  width: 12%;
  object-fit: contain; 
  right: 40%;
  bottom: 5%;
  transition: 0.3s;
  z-index: 1;
}

.bussola {
  position: absolute;
  width: 8%;
  object-fit: contain; 
  right: 30%;
  bottom: 8%;
  transition: 0.3s;
  z-index: 2;
}

.bussola_brilho {
  position: absolute;
  width: 11%;
  object-fit: contain; 
  right: 28.5%;
  bottom: 5.5%;
  transition: 0.3s;
  z-index: 1;
}

.dicas {
  position: absolute;
  width: 10%;
  object-fit: contain; 
  right: 17%;
  bottom: 10%;
  transition: 0.3s;
  z-index: 2;
}

.dicas_brilho {
  position: absolute;
  width: 13%;
  object-fit: contain; 
  right: 15.5%;
  bottom: 8%;
  transition: 0.3s;
  z-index: 1;
}

.diario {
  position: absolute;
  width: 9%;
  object-fit: contain; 
  right: 5%;
  bottom: 8%;
  transition: 0.3s;
  z-index: 2;
}

.diario_brilho {
  position: absolute;
  width: 12%;
  object-fit: contain; 
  right: 3.5%;
  bottom: 5.5%;
  transition: 0.3s;
  z-index: 1;
}

.luneta:hover, .bussola:hover, .dicas:hover, .diario:hover{
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}



