* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #6fbfad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapa {
  width: 100%;
  height: 70%;
  position: relative;
  background-image: url("./assets/mapa_mundi/mapa_mundi.png");
  /*background-image: url("./assets/mapa_mundi/mapa_mundi.png");*/
  background-size: cover; /* A imagem cobrirá toda a div */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 5; /*ORIGINAL É 5*/
}
.position-input {
  position: fixed;
  top: 0;
  left: 50;
  z-index: 99;
  display: none;
}





.balao {
  height: 15px;
  position: absolute;
  top: 0vw;
  left: 0vw;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
  z-index: 90;
  animation: moveUpDown 4s linear infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.calculoBussola {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.noroeste {
  width: 40%;
  height: 45%;
  background-color: green;
  color: white;
  font-weight: bolder;
  display: none;
}
.norte {
  width: 20%;
  height: 45%;
  background-color: white;
  display: none;
}
.nortemeio {
  width: 20%;
  height: 25%;
  background-color: white;
  display: none;
}
.nordeste {
  width: 40%;
  height: 45%;
  background-color: orange;
  color: white;
  font-weight: bolder;
  display: none;
}
.oeste {
  width: 40%;
  height: 25%;
  color: white;
  font-weight: bolder;
  background-color: red;
  display: none;
}
.sudoeste {
  width: 40%;
  height: 30%;
  background-color: yellowgreen;
  color: white;
  font-weight: bolder;
  display: none;
}
.leste {
  width: 40%;
  height: 25%;
  background-color: yellowgreen;
  color: white;
  font-weight: bolder;
  display: none;
}
.sudeste {
  width: 40%;
  height: 30%;
  background-color: blue;
  color: white;
  font-weight: bolder;
  display: none;
}
.sul {
  width: 20%;
  height: 30%;
  background-color: cyan;
  color: white;
  font-weight: bolder;
  display: none;
}









.dashboard {
  width: 60%;
  height: 20%;
  position: absolute;
  bottom: 5%;
  right: -8%;
}
.dashboard > img {
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.dashboard > img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.dashboard > .dicas {
  width: 20%;
  margin: 0 2% 2%;
  z-index: 10;
}
.dashboard > .luneta {
  width: 15%;
  margin: 0 2%;
  z-index: 10;
}
.dashboard > .bussolaDash {
  width: 15%;
  margin: 0 2%;
  z-index: 10;
}
.dashboard > .diarioDeBordo {
  width: 17%;
  z-index: 10;
}
.luneta_brilho {
  width: 14%;
  position: absolute;
  bottom: 4.7%;
  left: 46.85%;
}
.bussola_brilho {
  width: 13%;
  position: absolute;
  bottom: 5%;
  left: 59.15%;
}
.dicas_brilho {
  width: 17%;
  position: absolute;
  bottom: 7.7%;
  left: 70.5%;
}
.diarioDeBordo_brilho {
  width: 14%;
  position: absolute;
  bottom: 5.7%;
  left: 84.6%;
}








.bussola_fundo,
.bussola_ponteiro,
.bussola_circulo {
  position: fixed;
}
.bussola_fundo {
  height: 200px;
  top: 30%;
  right: 5%;
}
.bussola_ponteiro {
  width: 180px;
  top: 44.8%;
  right: 5.5%;
  transform-origin: center center;
  transition: 3s;
}
.bussola_circulo {
  height: 30px;
  right: 13.5%;
  top: 45%;
}








.black_background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  opacity: 0.5;
}
.monumento_card{
  position: absolute;
  width: 80%;
  top: 6vw;
  left: 8vw;
  z-index: 30;
}
.button_close{
  position: absolute;
  z-index: 30;
  top: 6vw;
  right: 3vw;
  width: 8vw;
  cursor: pointer;
  transition: 0.3s;
}
.button_next, .button_back{
  position: absolute;
  z-index: 31;
  bottom: 13vw;
  right: 2vw;
  cursor: pointer;
  transition: 0.3s;
}
.button_close:hover, .button_next:hover{
  transform: scale(1.1);
  transition: 0.3s;
}