* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #6EBFAD;
  overflow: hidden;
}

.container {
  background-image: url('./assets/mapa_mundi/mapa_mundi.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; /* Evita repetição do plano de fundo */
  width: 100vw;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  padding-top: 56.25%; 
}

.container .content {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pelo {
  position: absolute; /* Mude para posição absoluta */
  width: 25%; /* Ajusta a largura para ocupar todo o contêiner */
  object-fit: contain; /* Mantém a proporção e ajusta a imagem dentro */
  left: 20%;
  top: 14%;
  animation: slideInFromLeft 1s ease-in-out;
}


